 @import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow:wght@600&family=DM+Serif+Display&family=Epilogue:wght@500;700&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Inter:wght@300;500;700&family=Josefin+Sans:wght@300;400;600&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@500;600;700&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@500;700&family=Open+Sans:wght@400;700&family=Plus+Jakarta+Sans&family=Public+Sans:wght@300;400;700&family=Raleway:wght@400;700&family=Rubik:wght@300;400;500;700&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow:wght@600&family=Epilogue:wght@500;700&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Inter:wght@300;500;700&family=Josefin+Sans:wght@300;400;600&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@500;600;700&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@500;700&family=Open+Sans:wght@400;700&family=Plus+Jakarta+Sans&family=Public+Sans:wght@300;400;700&family=Raleway:wght@400;700&family=Rubik:wght@300;400;500;700&display=swap');


/* defaults */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Dark-violet: hsl(256, 26%, 20%);
    --Grayish-blue: hsl(216, 30%, 68%);
    --Very-dark-violet: hsl(270, 9%, 17%);
    --Dark-grayish-violet: hsl(273, 4%, 51%);
    --Very-light-gray: hsl(0, 0%, 98%);
    --container-padding-x: 150px;
    --divider-width: 130px;
    --white: hsl(0, 0%, 100%);
}

a,
h3 {
    text-transform: uppercase;
}

a{
    font-weight: 700;
    text-decoration: none;
    font-size: .8rem;
    color: var(--Very-light-gray);
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 3.5rem;
}

h1,h2{
    font-weight: 400;
}

*,*::after,.hamburger-icon,.hamburger-menu,.hamburger-container{
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

svg:hover path {
    fill: var(--Dark-violet);
}

.hamburger-icon,
.intro-img-mobile,.intro-img-desktop-2{
    display: none;
}

.intro-img-mobile,.intro-img-desktop{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* utility classes */
.container {
    width: 100%;
    padding: 20px var(--container-padding-x);
}

.d-flex-bw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.d-flex,.hamburger-menu .formatted-btn{
    display: flex;
}

.formatted-btn {
    padding: 10px 25px;
    border: 2px solid var(--Very-light-gray);
    position: relative;
    z-index: 5;
}

.formatted-btn::after{
    content: "";
    width: 100%;
    height: 0%;
    position: absolute;
    z-index: -1;
    background: transparent;
    bottom: 0;
    left: 0;
    transform-origin: bottom;
}

.formatted-btn:hover{
    color: var(--Very-light-gray);
}

.formatted-btn:hover::after{
background: var(--Very-dark-violet);
height: 100%;
}

.formatted-btn:not(:nth-child(1)):hover::after{
    background: var(--Very-light-gray);
}

.formatted-btn:not(:nth-child(1)):hover{
    color: var(--Very-dark-violet);
}

.divider {
    height: 1px;
    width: var(--divider-width);
    background: var(--Very-light-gray);
    margin-bottom: 60px;
}

/* ----------------------------------------------- */

body {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background: url("./images/bg-pattern-intro-left-desktop.svg") -50px 65vh no-repeat,url("./images/bg-pattern-intro-right-desktop.svg") 70vw -5vh no-repeat;
    font-family: "DM Serif Display", sans-serif;
}

p,a,.quick-link-wrapper h3{
    font-family: "Karla", sans-serif;
}

.main-container {
    width: 100%;
    height: 100%;
}

/* header */
header {
    padding: 100px var(--container-padding-x);
    height: 80px;
    background: var(--white);
    mix-blend-mode: normal;
}

header a,
p,
footer h3 {
    color: var(--Dark-grayish-violet);
}

header nav a:hover,
footer a:hover {
    color: var(--Dark-violet);
}

header nav ul li:not(:nth-child(4)) {
    margin: 0 15px;
}

header nav ul li:nth-child(4){
    margin-left: 15px;
}

header nav ul li .formatted-btn {
    border: 2px solid var(--Dark-grayish-violet);
    color: var(--Dark-violet);
}

/* hamburger-container & menu */
.hamburger-container{
    position: absolute;
    opacity: 0;
    height: 0px;
    width: 100%;
    z-index: 10;
    pointer-events: none;
}

.hamburger-menu{
    background: url('./images/bg-pattern-mobile-nav.svg') bottom right / contain no-repeat,hsl(266, 8%, 17%);
    background-position: 0 55vh;
    height: 0px;
    width: 100%;
    padding: 0;
    transform-origin: top center;
}

.hamburger-icon{
    cursor: pointer;
}

.hamburger-container.show{
    opacity: 1;
    height: 600px;
    pointer-events: all;
}

.hamburger-container.show .hamburger-menu{
    padding: 60px 60px 100px;
    height: 100%;
}

.hamburger-menu ul{
    display: grid;
    place-items: center;
}

.hamburger-menu ul li:not(:nth-child(4)){
    margin-bottom: 15px;;
}

.hamburger-menu .formatted-btn{
    width: 100%;
    margin-top: 15px;
    justify-content: center;
}

/* intro */
.intro {
    padding: 100px var(--container-padding-x);
    align-items: stretch;
    background: var(--Dark-violet);
    background-blend-mode:screen;
    mix-blend-mode:screen;
    position: relative;
}

.intro h1 {
    color: var(--white);
    max-width: 430px;
    line-height: 3.3rem;
    margin-bottom: 40px;
}

.intro p {
    max-width: 500px;
    color: var(--Very-light-gray);
    margin-bottom: 60px;
    line-height: 1.6rem;
}

.intro .intro-img-desktop {
    position: absolute;
    right: var(--container-padding-x);
    z-index: -3;
    width: auto;
}

/* Insure credentials */
.credentials {
    padding: 300px var(--container-padding-x) 200px;
}

.credentials .divider {
    background: var(--Dark-grayish-violet);
}

.credentials h2 {
    margin-bottom: 80px;
    font-size: 3rem;
}


.credential-highlights {
    margin-bottom: 200px;
}

.highlight h3 {
    margin: 25px 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 400;
}

.highlight:nth-child(2) {
    margin: 0 40px;
}

/* Find out more about Insure section */
.find-out-more {
    height: 300px;
    background: url('./images/bg-pattern-how-we-work-desktop.svg') center right / contain no-repeat, var(--Dark-violet);
    padding: 0 80px;
}

.find-out-more h2 {
    font-size: 3rem;
    max-width: 500px;
    color: var(--Very-light-gray);
    margin-bottom: 0;
}

/* footer */
footer {
    background: url('./images/bg-pattern-footer-desktop.svg') top left no-repeat, var(--Very-light-gray);
    background-size: 40% 40vh;
}

footer a {
    color: hsl(250, 11%, 21%);
}

.footer-header {
    padding: 50px 0 30px;
    position: relative;
    border-bottom: 1px solid var(--Dark-grayish-violet);
    margin-bottom: 60px;
}

.social-icons {
    width: 180px;
}

.footer-quick-links {
    padding-right: 200px;
    margin-bottom: 50px;
}

.quick-link-wrapper {
    align-self: flex-start;
}

.quick-link-wrapper h3{
    font-size: .9rem;
}

.quick-link-wrapper a:hover{
    text-decoration: underline;
}

.quick-link-wrapper ul {
    margin-top: 40px;
}

.quick-link-wrapper ul li {
    margin-bottom: 10px;
}

/* Media queries */
@media (max-width: 992px) {
    :root {
        --container-padding-x: 15px;
    }

    .d-flex-col {
        flex-direction: column;
    }

    .container {
        padding: 20px var(--container-padding-x);
    }

    body{
        background: url("./images/bg-pattern-intro-right-mobile.svg") 100% 130vh no-repeat;
    }

    .intro {
        flex-direction: column-reverse;
        padding: 0;
        text-align: center;
    }

    .intro-img-mobile,.intro-img-desktop{
        display: none;
    }

    .intro h1,
    .intro p,
    .find-out-more h2 {
        max-width: 100%;
    }

    .intro-text {
        background: url("./images/bg-pattern-intro-left-mobile.svg") top left no-repeat;
        padding: 80px 30px;
    }

    /* credentials */
    .credentials{
        padding: 150px var(--container-padding-x);
    }
    .credentials,
    .highlight {
        display: grid;
        place-items: center;
        text-align: center;
    }

    .highlight:nth-child(2) {
        margin: 60px 0;
    }

    /* find-out-more */
    .find-out-more {
        background: url('./images/bg-pattern-how-we-work-mobile.svg') top right / contain no-repeat, var(--Dark-violet);
        height: 330px;
        padding: 60px 20px;
    }

    .find-out-more h2{
    line-height: 3rem;
    }

    /* footer */

    footer{
    background: url('./images/bg-pattern-footer-mobile.svg') top center no-repeat, var(--Very-light-gray);
    background-size: 100% 30vh;
    background-position: 0 -8vh;
    }

    .footer-header{
        padding: 50px 0;
    }

    .footer-header img{
        margin-bottom: 20px;
    }

    .footer-quick-links{
        padding-right: 0;
    }

    .quick-link-wrapper{
        width: 100%;
        display: grid;
        place-items: center;
        text-align: center;
    }

    .quick-link-wrapper:not(:nth-child(4)){
        margin-bottom: 20px;
    }

    .quick-link-wrapper ul {
        margin-top: 20px;
    }
}

@media (max-width: 768px){
    header nav,
    .intro-img-desktop,
    .intro .divider {
        display: none;
    }

    .hamburger-icon,.intro-img-desktop-2{
        display: flex;
    }

    .hamburger-menu a:hover{
        color: rgba(255, 255, 0, 0.432);
    }

    .find-out-more h2, .intro-text h1,.credentials h2{
        font-size: 2.5rem;
    }

}

@media (max-width: 480px){
.intro-img-mobile{ display: flex; }

.intro-img-desktop-2{ display: none; }
}

@media (min-width: 768px) and (max-width: 992px){
    .intro-img-mobile{
        display: none;
    }

    .intro-img-desktop-2{
        display: flex;
    }
    .highlight p,.intro-text p{
        padding: 0 80px;
    }

    .find-out-more {
        padding: 50px 80px;
    }
}

@media (min-width: 992px) and (max-width: 1300px){
:root{
    --container-padding-x: 15px;
}

body{
    background: url("./images/bg-pattern-intro-right-desktop.svg") 70vw -5vh no-repeat;
}

.intro img{
    width: 440px;
    height: 500px;
}

.intro-text{
    margin-right: 10px;
}

.container{
    padding: 50px var(--container-padding-x);
}
header{
    height: auto;
}
}

